[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/vimux/binario
[submodule "public"]
	path = public
	url = git@github.com:davyvandelaar/davyvandelaar.github.io.git
[submodule "themes/Blonde"]
	path = themes/Blonde
	url = https://github.com/opera7133/Blonde.git
